<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Titulo {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">Jumbox</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto"> <!-- me-auto para empujar hacia la derecha -->
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pedidos">Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/productos/index">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/categoria/index">Categoria</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">

                        {% if session['usuario'] %}
                            <li class="nav-item nombre">
                                {{ session['usuario'][2] }}
                            </li>
                            <li class="nav-item">
                                <a href="/logout" type="button" class="btn btn-outline-primary">Cerrar Sesion</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="/login" type="button" class="btn btn-outline-primary">Iniciar Sesion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
<main>
    {% block content %}
    
    {% endblock %}
</main>

<footer>
    
</footer>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
