{%  extends "layouts/layout.html"  %}


{% block title %}Modificar categoria{% endblock %}


{% block content %}

<section class="container mt-5">
    
<h1 class="centrado">Modificar categoria</h1>


{% if mensaje %}
<div class="alert alert-danger">
    <h3 class="text-center">{{ mensaje }}</h3> 
</div>
{% endif %}


<form method="POST" class="mt-4" action="/categoria/update">

<div class="mb-3">

    <label for="nombre" class="form-label">Nombre del producto</label>

    <input type="hidden" name="id_categoria" id="id_categoria" value="{{ categoria.get_id_categoria() }}">
    
    <input type="text" name="nombre" id="nombre" value="{{ categoria.get_nombre_categoria()}}" class="form-control" required>
    
</div>
    <div class="text-center">
        
        <button type="submit" class="btn btn-primary">Modificar</button>

    </div>

</form>

<!--<a href="btn btn-danger btn-s">Cancelar</a>-->

</section>

{% endblock %}