{% extends "layouts/layout.html" %}

{% block title %}Categorias{% endblock %}


{% block content %}
    <h1>Categorias</h1>

    <!-- Aqui deberia ir un boton que conecta con la seccion de crear categoria.-->
    
    <table>
        <caption>Lista de categorias</caption>
        <thead>
            <tr>

                <th>Id categoria</th>
                <th>Nombre</th>
                <th>Estado </th>
                <th>Acciones </th>
            
            </tr>
        </thead>
        <tbody>
        {% if categorias %}
            {% for categoria in categorias %}
            <tr>
                <td>Id: {{categoria.id_categoria}} </td>
                <td>Nombre:{{categoria.nombre}} </td>
                <td>Estado:{{categoria.visible}} </td>
            </tr>
            {% endfor %}
        
        {% else %}
                <td colspan="4">No hay categorias disponibles</td>
        {% endif %}
        </tbody>

        <tfoot colspan="4">Categorias Jumbox</tfoot>

    </table>

    {% endblock %}