body {
    background-color: #f8f9fa; /* Color de fondo suave */
    font-family: Arial, sans-serif; /* Fuente más legible */
}

.container {
    margin-top: 20px; /* Espacio superior */
    border-radius: 5px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    background-color: #ffffff; /* Fondo blanco para el contenedor */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h1, h2 {
    color: #343a40; /* Color de texto oscuro */
}

.list-group-item {
    background-color: #e9ecef; /* Fondo claro para los elementos de la lista */
    border: none; /* Sin borde */
}

.list-group-item strong {
    color: #007bff; /* Color azul para los nombres de las sucursales */
}

.navbar {
    margin-bottom: 20px; /* Espacio inferior para la barra de navegación */
}

.nav-link {
    color: #343a40; /* Color de texto oscuro para los enlaces */
}

.nav-link:hover {
    color: #007bff; /* Cambia el color al pasar el mouse */
}

.titulobienvenidos{
    font-weight: 600;
}
.parrafobienvenidos{
    font-weight: 500;
}

.tablapadding{

padding: 40px;

}

.titulo_centrado{

    text-align: center;
    margin-bottom: 25px;
}

.mboton{

margin-left: 40px;
margin-top: 20px;

}

.centrado{

    text-align: center;
    list-style-type: none; 
    padding-left: 0;

}