
{% extends "layouts/layout.html" %}


{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="container">
        {% if success %}
        <h2 class="alert alert-success">{{ success }}</h2>
        {% endif %}

        <h1 class="titulobienvenidos text-center">Bienvenido a Jumbox</h1>
        <p class="parrafobienvenidos text-center">Programa de gestion para las sucursales y productos <strong>JUMBOX</strong>.</p>

        <h2 class="my-4">Lista de Sucursales</h2>
        <ul class="list-group lista-sucursales">
            {% if sucursales %}
            {% for sucursal in sucursales %}
                <li class="list-group-item">
                    <strong>{{ sucursal.nombre_sucursal }}</strong><br>
                    Ubicación: {{ sucursal.localidad }}, {{ sucursal.nombre_provincia }}<br>
                    Dirección: {{ sucursal.calle }} {{ sucursal.altura }}<br>
                    Teléfono: {{ sucursal.telefono }}
                </li>

            {% endfor %}
        {% else %}
            <li class="list-group-item">No hay sucursales disponibles.</li>
        {% endif %}
        </ul>
    </div>

{% endblock %}