{% extends "layouts/layoutforms.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container">

    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <h2 class="text-center mt-4">Inicio de Sesión para Empleados</h2>
    <p class="text-center text-muted">Bienvenido al sistema de gestión de <strong>Jumbox</strong>. Si necesita una cuenta, contacte a su supervisor o administrador.</p>


    <form action="/" method="POST">
        <div class="form-group">
            <label for="email">Usuario</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su email">
        </div>

        <div class="form-group mt-3">
            <label for="cont">Contraseña</label>
            <input type="password" class="form-control" id="cont" name="cont" placeholder="Ingrese su contraseña">
        </div>
        
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </div>
    </form>
</div>

{% endblock %}
